

main {
    margin: auto;
    height: 300px;
    width: 400px;
    background-image:linear-gradient(to right,rgba(1, 1, 141, 0.836), rgba(0, 0, 255, 0.74) );
    border-radius: 10px;
    border:2px solid black ;
    text-align: center;
    
}